<!DOCTYPE html>
<html>
<head>
	<title>My Awesome Website</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="cover">
	<header>
		<section>
			<div class="left">
				<img class="logo" src="images/logo.png">
			</div>
			<div class="right">
				<h2 class="cursive">My Awesome Website</h2>
			</div>
			<div class="clear"></div>
		</section>
		<nav>
			<ul class="menu">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/contact">Contact Us</a>
				</li>
				<li>
					<a target="_blank" href="https://pixabay.com">Pixabay</a>
				</li>
				<li>
					<a target="_blank" href="//google.ca">Google</a>
				</li>
			</ul>
		</nav>
	</header>