
	<main>
		<section>
			<div class="left width65">
				<video controls autoplay loop>
					<source src="videos/autumn.mp4" type="video/mp4">
				</video>
			</div>
			<div class="right width35">
				<h2>Fall is here! Winter is coming!</h2>
				<p>
					With fall here and low temperatur<%- include('_layouts/header') -%>es around the corner, take care of the following:
				</p> 
				<ul>
					<li>Wear warm clothes</li>
					<li>Enjoy some coffee</li>
					<li>Do not forget to watch the leaves</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sit eligendi quasi soluta eius laboriosam vitae, officia perspiciatis. Veniam rerum itaque, nesciunt explicabo debitis modi est vero dolorem aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sit eligendi quasi soluta eius laboriosam vitae, officia perspiciatis. Veniam rerum itaque, nesciunt explicabo debitis modi est vero dolorem aliquam.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos sit eligendi quasi soluta eius laboriosam vitae, officia perspiciatis. Veniam rerum itaque, nesciunt explicabo debitis modi est vero dolorem aliquam.</p>
		</section>
	</main>
	<%- include('_layouts/footer') -%>