include('_layouts/header') 
<main>
    <section>
        <div class="left width65">
            <video src="videos/autumn.mp4" type="video/mp4"></video>
        </div>
        <div class="right width35">
            <h2>Lalalalalalala</h2>
            <p>palapalapalapalapalahahsjdhdjfgglhsfgluildfhgflfgfshgj</p>
        </div>