<%- include('_layouts/header1') -%>
	<main>
			<section>
					<h1>The best game in 2019</h1>
					Death Stranding[c] is an action game developed by Kojima Productions. It is the first game from director Hideo Kojima and Kojima Productions after their disbandment from Konami in 2015. It was released by Sony Interactive Entertainment for the PlayStation 4 in November 2019, and is scheduled for release by 505 Games on Microsoft Windows in mid-2020.
					The game is set in the United States during the aftermath of the eponymous Death Stranding, which caused destructive creatures from a realm between life and death to begin roaming the Earth. Players control Sam Bridges (Norman Reedus), a courier tasked with delivering supplies to the fractured and isolated colonies that remain and reconnecting them via a wireless communications network.
				</section>
				<aside id=asideB>
				  <img src="/image/picture.png" alt="stranding">
				</aside>
	</main>
	<%- include('_layouts/footer') -%>