<%- include('_layouts/header') -%>
<main>
<form name="myform" method="post" onsubmit="return placeOrder();"  action="" >
    <label>Name</label><br>
    <input id="name" placeholder="First Last" type="text" name="name"><br/>

    <label>Email</label><br>
    <input id="email" placeholder="email@domain.com" type="text" name="email"><br/>

    <label>Address</label><br>
    <input id="address" placeholder="address" type="text" name="address"><br/>

    <label>City</label><br>
    <input id="city" placeholder="city" type="text" name="city"><br/>

    <label>Province</label><br>
    <select name="province" id="province">
        <option value="Alberta">Alberta</option>
        <option value="BritishColumbia">British Columbia</option>
        <option value="Manitoba">Manitoba</option>
        <option value="Saskatchewan">Saskatchewan</option>
        <option value="Ontario">Ontario</option>
        <option value="Quebec">Quebec</option>
        <option value="Nunavut">Nunavut</option>
    </select><br>
    
    <label>Delivery Days</label><br>
    <select name="delivery " id="delivery">
        <option value="1day">1 day</option>
        <option value="2day">2 days</option>
        <option value="3day">3 days</option>
        <option value="4day">4 days</option>
    </select><br>

    <label>Phone</label><br>
    <input id="phone" placeholder="123 456 7890" type="phone" name="phone"><br>

    <label>Post Code</label><br>
    <input id="postcode" placeholder="A1B 2C3" type="postcode" name="postcode"><br>
    <br>
    <div id="carstyle">
    <div class="product" id="CHR" value="CHR" onclick="getc(this)">
            <img src="image/item1.jpg" alt="item1" />
             <h2>CH-R</h2>
            <p>Price: <em>$12990</em></p>
        </div>
    <div class="product" id="GTR" value="GTR" onclick="getc(this)">
        <img src="imagr/item2.png" alt="item2" />
         <h2>GTR</h2>
        <p>Price: <em>$27890</em></p>
    </div>
    <div class="product" id="VIZIO" value="VIZZO" onclick="getc(this)">
        <img src="image/item3.jpg" alt="item3" />
         <h2>VIZIO</h2>
        <p>Price: <em>$32950</em></p>
    </div>
</div>
<label>Quantity</label><br>
    <label name="quantity " id="quantity">
    <input id="quantities" placeholder="number" type="text" name="quantities"><br>
    <br>
    <div id="youcar"></div>
    <input type="submit" value="Checkout">
    
    <p id="errors"></p>
</form>

<div class="formData">
    <p id="Order"></p>
  </div>
</main>